<!DOCTYPE html>
<html>
  <head>
    <title>PyanoChat</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <h1>PyanoChat</h1>
    <table border="1">
      <tr>
        <th>Сообщение</th>
        <th>Дата и время</th>
      </tr>
      {% for message, formatted_date in messages %}
      <tr>
        <td>{{ message.text }}</td>
        <td>{{ formatted_date }}</td>
      </tr>
      {% endfor %}
    </table>
    <p><a href="{{ url_for('create_message') }}"><button>Создать новое сообщение</button></a></p>
  </body>
</html>
